
<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary>
    <h2>
      <%= I18n.t("エラーが発生しました",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul class="menu">
      <% resource.errors.full_messages.each do |message| %>
        <li class="middle_title"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
