
<div class="cont_wrap" id="<%= dom_id item %>">
  <div class="menu_list">
    <strong>商品・アイテム名:</strong>
    <%= item.name %>
  </div>

  <div class="menu_list">
    <strong>価格:</strong>
    <%= item.unit_price %>
  </div>

  <div>
    <strong>登録者:</strong>
    <%= item.user_id %>
  </div>

</div>
