@charset "UTF-8";

html {
  font-size:62.5%;
}

body {
  font-size:1.4rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    sans-serif;
}

*, *::before, *::after {
  box-sizing:border-box;
}

.clearfix::after {
  content:'';
  display:block;
  clear:both;
}

#all_wrap{
    width: 100%;
    background-color: #fcffed;
}

#wrapper{
    width: 800px;
    margin: 0 auto;
}

.title{
    padding: 2vh 0;
    font-size: 2vw;
    text-align: center;

}

#login_mail_title, #login_pass_title{
  font-size: 20px;
  margin: 5px 0;
}

#login_mail_input input, #login_pass_input input{
  font-size: 18px;
  line-height: 1.5;
  width: 50%;
  margin-bottom: 2vh;
}

.login_check{
  font-size: 20px;
  margin: 10px 0;
  line-height: 1.5;
}

.login_button{
  font-size: 20px;
  width: 20%;
}

.btn_a{
    margin: 20px 0;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: double 4px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    width: 40%;
    text-align: center;
    font-size: 20px;
    background-color: #fef4f4;
    text-decoration: none;
    border-radius: 10px;
    color: #1f3134;
    cursor: pointer;
}

.btn_a a{
    text-decoration: none;
}

.btn_a:hover {
  background: #f2a0a1;
}

@media screen and (max-width: 799px) {
    #all_wrap{
      padding: 0 0;
    }

    #wrapper{
      width: 100%;
      padding: 2vh 2vw;
    }

    .title{
      font-size: 4vw;
    }

    #login_mail_title, #login_pass_title{
      font-size: 4vw;
    }

    .middle_title{
      font-size: 4vw;
    }

    .menu{
      font-size: 4vw;
    }

    #input_space input, .select_space{
      font-size: 4vw;
    }

    .login_check{
      font-size: 4vw;
    }

    .login_button{
      font-size: 4vw;
    }

    .list_title{
      font-size: 5vw;
    }

    .list{
      font-size: 4vw;
    }

    .btn_a{
    width: 90%;
    font-size: 4vw;
    }
}


/*:valid{
    background: #ffc8c8;
}

:invalid{
    background: #ffc8c8;
}:*/
